body{
    background-color: rgb(194, 252, 254);
    text-align: center;
    
}

h1{
    background-color: beige;
    font-family: cursive;
    font-size: x-large;
    text-decoration: none;
    border-radius: 10px;
    
}